
body {
	background: linear-gradient(to bottom, #361c63, #140a25);
	font-family: Oswald, sans-serif;
	color: #ffffff;
	height: 100vh;
}

nav {
	text-align: center;
	font-size: 3vh;
}

nav li a {
    text-decoration: none;
	color: #f1f0f4;
}

nav li a:hover {
	color: #9d3b75;
}

.sns {
    background-color: #000000;
    font-size: 2vh;
}


.sns a {
	text-decoration: none;
	color: #9d3b75;
}

footer {
    font-size: 2vh;
    opacity: 0.5;
}